<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Quản lí</div>
        <%=link_to admin_dashboard_index_path ,class:"nav-link" do %>
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Thông tin chung
        <% end %>
        <%=link_to admin_orders_path ,class:"nav-link" do %>
          <div class="sb-nav-link-icon"><i class="fa-brands fa-jedi-order"></i></div>
         Quản lí Đơn hàng
        <% end %>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa-brands fa-product-hunt"></i></div>
          Quản lí Sản phẩm
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <%=link_to new_admin_product_path ,class:"nav-link"  do %>
              <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
              Thêm sản phẩm
            <% end %>
            <%=link_to admin_products_path ,class:"nav-link"  do %>
              <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
              Tất cả sản phẩm
            <% end %>
          </nav>
        </div>
        <%=link_to new_admin_category_path ,class:"nav-link" do %>
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Quản lí loại sản phẩm
        <% end %>
        <%=link_to admin_customers_path ,class:"nav-link" do %>
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Khách hàng
        <% end %>
        <div class="sb-sidenav-menu-heading">Interface</div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
          aria-expanded="false" aria-controls="collapsePages">
          <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
          Thống kê
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth"
              aria-expanded="false" aria-controls="pagesCollapseAuth">
              Authentication
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
              data-bs-parent="#sidenavAccordionPages">
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="#">Login</a>
                <a class="nav-link" href="register.html">Register</a>
                <a class="nav-link" href="password.html">Forgot Password</a>
              </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError"
              aria-expanded="false" aria-controls="pagesCollapseError">
              Error
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
              data-bs-parent="#sidenavAccordionPages">
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="401.html">401 Page</a>
                <a class="nav-link" href="404.html">404 Page</a>
                <a class="nav-link" href="500.html">500 Page</a>
              </nav>
            </div>
          </nav>
        </div>
        <div class="sb-sidenav-menu-heading">Addons</div>
        <a class="nav-link" href="charts.html">
          <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
          Số liệu
        </a>
        <a class="nav-link" href="tables.html">
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Bảng 
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Tài khoản đang đăng nhập:</div>
        <% if user_signed_in? %>
          <%= current_user.user_name %>
        <% end %>
    </div>
  </nav>
</div>