<% provide(:title, "Danh sách đơn hàng") %>

<div class="container-fluid sb-nav-fixed">
  <%= render 'admin/dashboard/top_nav' %>
  <div id="layoutSidenav">
    <%= render 'admin/dashboard/layout_side_nav' %>
    <div id="layoutSidenav_content">
      <% flash.each do |message_type, message| %>
     <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= render partial: "list_order", collection: @orders %>
      <%= render 'admin/dashboard/footer' %>
    </div>
  </div>
</div>
