<% provide(:title, "Home") %>
<!doctype html>
<html lang="en">

<head>
  <title><%= yield(:title)%></title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
</head>

<body>
  <header>
    <div class="container ">
      <div class="row">
        <div class="col">
          <%= image_tag("bapstore.jpeg", alt: "Edit Entry", class: "mt-2 w-100") %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag("sale80.jpeg", alt: "Edit Entry", class: "d-block w-100") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("sale.jpeg", alt: "Edit Entry", class: "d-block w-100") %>
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
              data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
              data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
        </div>
      </div>


    </div>

  </header>

  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Giày thể thao <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Giày lười</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Giày thể thao <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Giày thể thao <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Giày thể thao <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    Khác
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>

              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>Gợi ý cho bạn</p>
        </div>
      </div>
      <div class="row  justify-content-center">
        <% @productrend.each do |product| %>
        <div class="col mb-2">
          <div class="card h-100" style="width:250px">
            <!-- Sale badge-->
            <div class="badge bg-danger text-white position-absolute ">
              <span>Sale</span>
            </div>
            <!-- Product image-->
            <%=  image_tag(product.image)  %>
            <!-- Product details-->
            <div class="card-body p-2">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder"> <%= link_to product.name, product, class:"font-weight-bold" %></h5>
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through"></span>
                <%=  product.price %>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto border-0 text-light" style="background-color: orangered"
                  href="#">Thêm vào giỏ</a>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        
      </div>
    </div>
    </div>
  </section>
  <%= render 'products/allproduct' %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>