<%= render 'home/header'%>
<div class="container mt-2">
  <main>
    <div class="row g-5 ">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Mặt hàng cần thanh toán</span>
          <span class="badge bg-primary rounded-pill"><%= @current_cart.order_details.size %></span>
        </h4>
        <ul class="list-group mb-3">
          <% @cart.order_details.each do |order_detail| %>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"><%= order_detail.product.name %></h6>
            </div>
            <span class="text-muted"><%= order_detail.product.price %></span>
            <span class="text-muted"><%= order_detail.quantity %></span>
          </li>
          <% end %>
          <%# <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">−$5</span>
          </li> %>
          <li class="list-group-item d-flex justify-content-between">
            <span>Tổng tiền (USD)</span>
            <strong><%= @current_cart.sub_total %></strong>
          </li>
        </ul>
        <%# <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form> %>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Bill</h4>
        <%= form_for @order do |order| %>
        <div class="col-12">
          <label for="address" class="form-label">Địa chỉ nhận hàng</label>
          <%= order.text_field :address, required: true, autofocus: true,class:"form-control" %>
          
          <%= order.hidden_field :user_id, value: current_user.id  %>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
          <hr class="my-4">
          <div id="payment-element">
            <label for="address" class="form-label">Thanh toán</label>
            <div id="card">
              <!-- Elements will create input elements here -->
            </div>
            <!--Stripe.js injects the Payment Element-->
          </div>


          <!-- We'll put the error messages in this element -->
          <div id="card-errors" role="alert"></div>

          <%= order.submit "Đặt hàng #{@cart.sub_total}", class:"btn btn-outline-dark mt-auto border-0", style:"background-color: orange" %>
        </div>

        <% end %>
      </div>
    </div>
  </main>
</div>

<%= render 'home/footer' %>
<script>
  const stripe = Stripe(
    "pk_test_51L8JPcIekHnUbT8KJUIoE5Q34nJWFDXoSPSX02SjE9zqtpwK3j957WVucSpEMTacWBYUGGHkRdqxsuf9ZBq6qt0B00kToy2awu");
  const appearance = {
    theme: 'night'
  };

  var elements = stripe.elements();
  var style = {
    base: {
      color: "#32325d",
    }
  };

  var paymentElement = elements.create('card');
  paymentElement.mount("#card");
 
</script>
