<%= render 'home/header' %>
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-borderless table-hover">
          <tr>
            <td scope="col"><input type="checkbox" /></td>
            <td class="nav-item" scope="col">Tên sản phẩm</td>
            <td class="nav-item" scope="col">Đơn giá</td>
            <td class="nav-item" scope="col">Số lượng</td>
            <td class="nav-item" scope="col">Thành tiền</td>
          </tr>
          <tbody>
            <% @cart.order_details.each  do |order_detail| %>
              <tr>
                <th scope="row"><input type="checkbox" /></th>
                <td>
                  <%=  image_tag(order_detail.product.image, size: '50x40', class:"img-thumbnail mr-2")  %>
                  <%= order_detail.product.name  %>
                </td>
                <td><%= order_detail.product.price  %></td>
                <td style="width:20%">
                  <input type="number" aria-label="Last name" value="<%= order_detail.quantity %>" class="form-control"
                    style="width:30%" value=1 min=1>
                </td>
                <th scope="row">
                  <%= order_detail.total_price %>
                </th>
                <th scope="row">
                  <%=link_to "Xóa", order_detail_path(order_detail), method: :delete, class:"btn btn-danger" %>
                </th>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
      </div>
      <div class="col-5 d-flex">

        <p class="mr-2">Tổng thanh toán: <%= @cart.sub_total%></p>
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
          <li class="nav-item active">
            <form class="d-flex">
              <%= link_to products_path do %>
              <button class="btn btn-outline-success mr-2" type="submit">Mua Thêm</button>
              <% end %>
              <% if user_signed_in? %>
              <%= link_to "Mua hàng", new_order_path, class:"btn btn-outline-success"%>
              <% else %>
              <%=link_to "mua di", user_session_path %>
              <% end %>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <%= render 'products/productrend' %>
  </div>
</section>
<%= render 'home/footer' %>