<main>
  <div class="container-fluid px-4">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="row mt-4 ">
      <%= simple_form_for @product,url: admin_products_path  do |f| %>
        <div class="d-flex">
          <div class="col-4 me-2">
            <div class="mb-3">
              <%= f.input :name %>
            </div>
            <div class="mb-3">
              <%# <label for="exampleInputPassword1" class="form-label">Giá</label> %>
              <%= f.input :price, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= f.input :color, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= f.input :size, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= f.input :description,as: :text, class: "form-control"%>
            </div>
            <%= f.button :submit, "Save", class: "btn btn-primary" %>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <%= f.input :category_id do %>
              <%= f.select(:category_id, @categories.pluck(:name, :id), {}, {:class => 'selectpicker form-select'}) %>
              <% end %>
            </div>
            <div class="mb-3 form-group">
              <label id="image-label" class="image-hover" for="article_thumbnail">
                <%= image_tag "logo.png", id: "thumbnail-img", size: "200x200" %>
              </label>
              <%= f.input :image,label: false,input_html: {onchange:"loadFile(event)"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>