<section>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Danh mục
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-9">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="nav mr-2">Sắp xếp theo</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                <%= content_tag :a, sort_link(@q, :name, "Mới nhất",style:"color: #7F9095"), class: "dropdown-item" %>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">Bán chạy</a>
              </li>
              <li class="nav-item  ">
                <%= content_tag :a, sort_link(@q, :price, "Giá",style:"color: #7F9095"), class: "dropdown-item" %>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="row ">
      <div class="col-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="dropdown-item" href="#">Giày Thể thao</a>
                <a class="dropdown-item" href="#">Giày abc</a>
                <a class="dropdown-item" href="#">Giày xyz</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-9">
        <div class="row">
          <% @products.each do |product| %>

          <div class="col mb-2">
            <div class="card h-100" style="width:250px">
              <!-- Sale badge-->
              <div class="badge bg-danger text-white position-absolute ">
                <span>Sale</span>
              </div>
              <!-- Product image-->
              <%=  image_tag(product.image)  %>
              <!-- Product details-->
              <div class="card-body p-2">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder"> <%= link_to product.name, product, class:"font-weight-bold" %></h5>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through"></span>
                  <%=  product.price %>
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                 
                  <%= button_to "Add to cart", order_details_path(:product_id => product.id),
                  class:"btn btn-outline-dark mt-auto border-0 text-light", style:"background-color: orangered" %>
                </div>
               
              </div>
            </div>
          </div>

          <% end %>
          <%= paginate @products %>
        </div>
      </div>
    </div>
  </div>
</section>