<header class="nav" style="background-color: #F9593F">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="#">
            <%= image_tag("logo.png", size: "50x50", alt: "Edit Entry") %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to 'Home', root_path, class: 'nav-link' %>
              </li>
              <li class="nav-item active">
                <%= link_to 'Sản phẩm', products_path, class: 'nav-link' %>
              </li>
              <li class="nav-item active">
                <%= link_to 'Contact', contact_path, class: 'nav-link' %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul>
            <div class="form-inline my-2 my-lg-0 d-flex">
              <ul class="navbar-nav">
                  <%= render 'layouts/search'%>
                <li class="nav-item">
                  <button class="btn btn-outline-light" href="#" style="background-color:#F9593F">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="badge text-white ms-1 rounded-pill">0</span>
                  </button>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Đăng nhập </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Đăng kí </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
